/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-logo-1 {
  background-image: url(../../../layout/layout-sprite.png);
  background-position: -165px 0px;
  width: 165px;
  height: 78px;
}
.icon-logo-2 {
  background-image: url(../../../layout/layout-sprite.png);
  background-position: 0px -111px;
  width: 241px;
  height: 37px;
}
.icon-logo-3 {
  background-image: url(../../../layout/layout-sprite.png);
  background-position: 0px -148px;
  width: 241px;
  height: 37px;
}
.icon-logo-footer {
  background-image: url(../../../layout/layout-sprite.png);
  background-position: 0px -185px;
  width: 250px;
  height: 35px;
}
.icon-logo-s {
  background-image: url(../../../layout/layout-sprite.png);
  background-position: 0px 0px;
  width: 165px;
  height: 111px;
}
