html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "蘋方-繁", "微軟繁黑體-標準", "微軟繁黑體-粗體", "微軟正黑體", "sans-serif";
    background: url('../img/lucky-bg.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 100%;
    margin: 0
}

footer,
header {
    display: block
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

strong {
    font-weight: bold
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

@media print {
    *,
    *:before,
    *:after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    img {
        page-break-inside: avoid
    }
    img {
        max-width: 100% !important
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

h1,
h2,
h3 {
    margin-top: 20px;
    margin-bottom: 10px
}

h4,
h5,
h6 {
    margin-top: 10px;
    margin-bottom: 10px
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

p {
    margin: 0 0 10px
}

.row {
    margin-right: -15px;
    margin-left: -15px
}

.row:before,
.row:after {
    display: table;
    content: " "
}

.row:after {
    clear: both
}

.colsm12,
.colsm6,
.colxs12,
.colsm4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

@media (min-width:768px) {
    .colsm12,
    .colsm6,
    .colxs12,
    .colsm4 {
        float: left
    }
    .colsm12 {
        width: 100%
    }
    .colsm6 {
        width: 50%
    }
    .colsm4 {
        width: 33.33333333%
    }
}

.colxs12 {
    width: 100%
}

.img-100 {
    display: block;
    max-width: 100%;
    height: auto
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:850px) {
    .container {
        width: 850px
    }
}

@media (min-width:900px) {
    .container {
        width: 900px
    }
}

@media (min-width:950px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after {
    display: table;
    content: " "
}

.container:after,
.container-fluid:after {
    clear: both
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.banner img {
    display: none
}

@media (min-width:801px) {
    .banner .screen {
        display: block
    }
}

@media (max-width:800px) {
    .banner .mobile {
        display: block
    }
}

.banner .triangle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #fee9d5 transparent transparent transparent;
    margin: auto
}

.banner .countdown-top {
    width: 100%;
    height: 40px;
    top: -20px;
    left: 0;
    text-align: center;
    line-height: 40px;
    background: #e33;
    color: #fff;
    box-shadow: #033 0 0 10px;
    font-size: 16px
}

.banner .countdown-top span {
    display: none
}

@media (max-width:540px) {
    .banner .countdown-top {
        height: 50px;
        padding-top: 5px;
        line-height: 20px
    }
    .banner .countdown-top span {
        display: inline
    }
}

.luckybag-content {
    padding-top: 20px
}

@media (min-width:850px) {
    .luckybag-content {
        padding-left: 8%;
        padding-right: 8%;
    }
}

.luckybag-content .title1 {
    width: 50%;
    margin: auto
}

@media (max-width:600px) {
    .luckybag-content .title1 {
        width: 80%
    }
}

.luckybag-content .title2 {
    width: 60%;
    margin: auto;
    margin-bottom: 15px
}

@media (max-width:600px) {
    .luckybag-content .title2 {
        width: 95%
    }
}

.luckybag-content .colsm6,
.luckybag-content .colsm4 {
    padding: 5px 10px
}

.luckybag-content .colsm6 p.price,
.luckybag-content .colsm4 p.price {
    text-align: center;
    margin-bottom: -6px;
    font-size: 95%
}

.luckybag-content .colsm6 a,
.luckybag-content .colsm4 a {
    display: block;
    width: 75%;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    background-color: #FFB656;
    box-shadow: 0 4px 0 #FF8F19;
    background-color: #FFDD30;
    box-shadow: 0 4px 0 #EDBD00;
    padding: 10px;
    line-height: 2;
    border-radius: 40px;
    text-decoration: none
}

.luckybag-content .colsm6 a:hover,
.luckybag-content .colsm4 a:hover {
    color: #000;
    background-color: #FCF363;
    box-shadow: 0 4px 0 #fed430;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.luckybag-content .colsm6 img,
.luckybag-content .colsm4 img {
    padding: 15px;
    border-radius: 25px;
    margin-top: 0
}

.luckybag-content h3 {
    text-align: center;
    padding-bottom: 7px
}

.luckybag-content img {
    border-radius: 10px
}

.luckybag-content h4 {
    color: #ff0422;
    font-size: 22px;
    text-align: center
}

.luckybag-content .colsm4 h4 {
    margin-top: 0;
}

.luckybag-content .colsm4 p {
    padding-bottom: 10px;
}

.luckybag-content .line {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
    margin-top: 10px;
    display: block
}

.luckybag-content .introduction {
    font-size: 15px;
    line-height: 1.7;
    text-align: justify;
    padding-bottom: 30px;
}

.luckybag-content .board-gift {
    line-height: 1.5;
    text-align: center;
    margin-bottom: -5px;
    color: #343434;
    font-weight: bold;
}

.luckybag-content a {
    display: block;
    font-size: 20px;
    margin: 15px auto 25px auto;
    text-align: center;
    line-height: 3.5;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #E54E50;
    box-shadow: 0 4px 0 #CC4547;
    width: 300px;
    border-radius: 40px
}

@media (max-width:600px) {
    .luckybag-content a {
        width: 90%
    }
}

.luckybag-content a:hover {
    color: #fff;
    background-color: #FF5664;
    box-shadow: 0 4px 0 #E54E50;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

footer {
    margin-top: 15px;
}

footer .container-fluid {
    background-color: #de3829
}

footer .container-fluid h2 {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    color: #fff
}

footer .line {
    width: 60px;
    height: 1px;
    background-color: #fff;
    margin: 18px auto 10px auto;
    display: block
}

footer img {
    margin: auto;
    padding: 20px;
    width: 300px
}