/* browser */
._bg-top-linear-gradient(@a,@b){
	background-image:linear-gradient(top,@a,@b);
	background-image:-webkit-linear-gradient(top,@a,@b);
	background-image:-moz-linear-gradient(top,@a,@b);
}
._transition(@a){
  transition:@a;
  -webkit-transition:@a;
  -moz-transition:@a;
}
._scale(@a){
  transform:scale(@a);
  -webkit-transform:scale(@a);
  -moz-transform:scale(@a);
}
._rotate(@a){
  transform:rotate(@a);
  -webkit-transform:rotate(@a);
  -moz-transform:rotate(@a);
}

/* main */
i{
	&.icon{
		display:inline-block;
		width:40px;
		height:40px;
		background-image: url(../../img/layout/layout-sprite.png);
	}
}
.tutorials{
	display:none;
}
.banner{
  display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
  display:-webkit-flex;
	-webkit-flex-direction:column;
	-webkit-justify-content:center;
	-webkit-align-items:center;
	width:100%;
	height:55vw;
	background:url(../../img/index/banner.jpg) center bottom no-repeat;
	background-size:100% auto;
	/*background-attachment: fixed;*/
	h1,span{
		display:block;
	}
	h1{
		display:block;
		font-size:80px;
		font-family:'Arial black';
		color:#fff;
		padding:0 60px;
		width:100%;
  	transform:scaleY(1.2);
  	-webkit-transform:scaleY(1.2);
  	-moz-transform:scaleY(1.2);
  	text-shadow:rgba(0,0,0,.3) 0 2px 0;
	}
	h2{
		display:block;
		font-size:40px;
		font-family:'Arial black';
		color:#fff;
		padding:10px 60px 0;
		width:100%;
  	text-shadow:rgba(0,0,0,.3) 0 2px 0;
	}
	img{
		text-align:left;
		width:50%;
	}
}
.content{
	margin:80px auto;
	width:86%;
	div{
		vertical-align:top;
		display:inline-block;
		padding:30px 20px;
		width:33%;
		font-size:15px;
		h2{
			color:#000;
			font-size:20px;
			margin:10px 0 15px;
		}
		span{
			display:block;
			margin-left:50px;
			color:#666;
			text-align:justify;
			line-height:24px;
		}
		i{
			float:left;
			margin-right:10px;
			&.icon-01{
  			background-position: -40px -220px;
			}
			&.icon-02{
  			background-position: 0px -220px;
			}
			&.icon-03{
  			background-position: -80px -220px;
			}
			&.icon-04{
  			background-position: -120px -220px;
			}
			&.icon-05{
  			background-position: -160px -220px;
			}
			&.icon-06{
  			background-position: -200px -220px;
			}
		}
	}
}
.tutorials-menu,.resources{
	display:table;
	width:100%;	
	h2,span{
		display:block;
		width:100%;
		text-align: center;
	}
	h2{
		margin-top:30px;
		margin-bottom:10px;
		font-size:30px;
		font-family:'Arial';
	}
	span{
		font-size:18px;
		margin-bottom:40px;
	}
	.no{
		opacity:.3;
	}
}
.tutorials-menu{
	border-top:5px solid #ddd;
	.menu-content{
		width:100%;
		margin:0 auto;
		text-align: center;
		div{
			z-index:2;
			position:relative;
			margin:0 -2px;
			padding:0;
			vertical-align:top;
			display:inline-block;
			width:25%;
			overflow:hidden;
			&:before{
				z-index:3;
				pointer-events: none;
				content:attr(data-title);
				position:absolute;
				color:#fff;
				width:100%;
				height:50px;
				line-height:50px;
				font-size:15px;
				bottom:-50px;
				background:rgba(0,0,0,.8);
				._transition(.3s);
			}
			&:after{
				z-index:2;
				pointer-events: none;
				content:'';
				position:absolute;
				width:100%;
				height:100%;
				top:0;
				left:0;
				background:rgba(0,0,0,.2);
				._transition(.3s);
			}
			img{
				._transition(.3s);
				width:100%;
				height:100%;
			}
			&:hover{
				z-index:3;
				img{
					margin-top:-2%;
					margin-left:-2%;
					height:104%;
					width:104%;
				}
				&:after{
					background:rgba(0,0,0,0);
				}
				&:before{
					bottom:0px;
				}
			}
		}
	}
	.goto-tutorials{
		background:#6b58cd;
		padding:50px;
		box-shadow:inset rgba(0,0,0,.1) 0 5px 0 0;
		border-bottom:5px solid #ccc;
		h2{
			margin:0 0 20px;
			color:#fff;
		}
		a{
			display:block;
			font-size:20px;
			margin:0 auto;
			width:200px;
			height:50px;
			line-height:50px;
			text-align:center;
			border:1px solid #fff;
			color:#fff;
			._transition(.3s);
			.fa{
				opacity:0;
				margin-left:-20px;
			._transition(.3s);
			}
			&:link,&:active,&:visited,&:hover{
				color:#fff;
			}
			&:hover{
				background:rgba(255,255,255,.1);
				.fa{
					opacity:1;
					margin-left:6px;
				}
			}
		}
	}
}
.resources{
	padding:80px 0 50px;
	text-align:center;
	background:#f1f1f1;
	h2{
		margin-bottom:30px;
	}
	a{
		display:inline-block;
		width:21%;
		padding:20px;
		vertical-align:top;
		&:link,&:active,&:visited,&:hover{
			color:#555;
		}
		div{
			position:relative;
			width:90px;
			height:90px;
			line-height:90px;
			border-radius:50%;
			background:#e1e1e1;
			margin:0 auto;
			font-size:26px;
			color:#555;
			._transition(.3s);
			&:before{
				content:'';
				position:absolute;
				width:90px;
				height:90px;
				border-radius:50%;
				border:1px solid #000;
				top:0;
				left:0;
				opacity:0;
				._transition(.2s);
			}
		}
		h3{
			font-weight:bold;
			color:#000;
			font-size:18px;
			margin:30px 0 10px;
		}
		span{
			text-align:left;
			color:#888;
			font-size:15px;
			text-align:justify;
			line-height:22px;
		}
		&:hover{
			div{
				background:#000;
				color:#fff;
				&:before{
					width:102px;
					height:102px;
					top:-7px;
					left:-7px;
					opacity:1;
				}
			}
		}
	}
}

/* RWD */
@media (max-width: 1000px){
	.content{
		width:90%;	
		margin:30px auto;
		div{
			width:48%;
			padding:20px;
		}
	}
	.banner{
		height:450px;
		h1{
			padding:25px;
		}
	}
}
@media (max-width: 800px){
	.banner{
		height:400px;
		h1{
			font-size:30px;
			padding:15px;
			span{
				font-size:14px;
			}
		}
	}
	.tutorials-menu{
		.menu-content{
			div{
				width:50%;
			}
		}
	}
	.resources{
		a{
			width:45%;
		}
	}
}
@media (max-width: 600px){
	.content{
		width:90%;	
		margin:30px auto;
		div{
			width:100%;
			padding:10px 20px 20px 0px;
		}
	}
	.banner{
		height:300px;
		h1{
			font-size:20px;
			padding:10px;
			span{
				font-size:14px;
			}
		}
	}
	.tutorials-menu{
		h2{
			font-size:26px;
		}
	}
	.resources{
		a{
			width:90%;
		}
	}
}
@media (max-width: 500px){
	.banner{
		height:200px;
	}
}
@media (max-width: 400px){
	.banner{
		h1{
			border-width:1px 0;
			span{
				display:none;
			}
		}
	}
	.tutorials-menu{
		.menu-content{
			div{
				width:100%;
			}
		}
	}
}