/* browser */
._bg-top-linear-gradient(@a,@b){
	background-image:linear-gradient(top,@a,@b);
	background-image:-webkit-linear-gradient(top,@a,@b);
	background-image:-moz-linear-gradient(top,@a,@b);
}
._transition(@a){
  transition:@a;
  -webkit-transition:@a;
  -moz-transition:@a;
}
._scale(@a){
  transform:scale(@a);
  -webkit-transform:scale(@a);
  -moz-transform:scale(@a);
}
._rotate(@a){
  transform:rotate(@a);
  -webkit-transform:rotate(@a);
  -moz-transform:rotate(@a);
}

header{
	background:#fff;
	color:#000;
	border-bottom:1px solid #eee;
	.menu{
		a{
			color:#000;
      text-shadow:none;
      &.none{
      	color:#aaa;
        &:hover{
      		color:#aaa;
        }
      }
		}
	}
}

/* main */
.tutorials{
	display:none;
}

.content{
	margin:120px auto 80px;
	width:80%;
	text-align:center;
	h1{
		font-size:30px;
		margin:30px 0 20px;
		padding:30px 0 0;
		border-top:#aaa dashed 1px;
		&:first-child{
			padding-top:0;
			border:none;
		}
	}
	div{			
		position:relative;
		display:inline-block;
		width:33%;
		padding:12px;
		overflow:hidden;
		a{
			h2{
				text-align:left;
				font-size:18px;
				margin:10px 0 5px;
				color:#000;
			}
			span{
				display:block;
				text-align:left;
				color:#999;
				font-size:12px;
			}
		}
		img{
			._transition(.3s);
			width:100%;
			height:100%;
		}
		&:hover{
		}
	}
}

/* RWD */
@media (max-width: 1000px){
	.content{
		width:90%;
		div{
			width:43%;
		}
	}
}
@media (max-width: 800px){
	header{
		.menu{
			top:-355px;
			a{
				color:#fff;
	      &.none{
	      	color:#666;
	        &:hover{
	      		color:#666;
	        }
	      }
			}
		}
	}
	.content{
		width:100%;
		div{
			width:43%;
		}
	}
}
@media (max-width: 500px){
	.content{
		div{
			width:90%;
		}
	}
}


