/* browser */
/*main*/
.content {
  margin: 120px auto 80px;
}
.content h1 {
  font-size: 30px;
  margin: 30px 0 20px;
  padding: 30px 0 0;
  border-top: #aaa dashed 1px;
  text-align: center;
}
.content h1:first-child {
  padding-top: 0;
  border: none;
}
.content > div {
  width: 100%;
  text-align: center;
}
.content > div > div {
  display: inline-block;
  width: 33%;
  padding: 12px;
  vertical-align: top;
}
.content > div > div a h2 {
  text-align: left;
  font-size: 18px;
  margin: 10px 0 5px;
  color: #000;
}
.content > div > div a h3 {
  text-align: left;
  font-size: 14px;
  margin: 10px 0 5px;
  color: #000;
}
.content > div > div a h3 span {
  text-decoration: underline;
  color: #09b;
}
.content > div > div a .description {
  width: 90%;
  margin-top: 10px;
  display: block;
  text-align: left;
  color: #999;
  font-size: 14px;
  line-height: 20px;
}
.content > div > div a div {
  overflow: hidden;
  width: 100%;
}
.content > div > div a div img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  width: 100%;
}
.content > div > div a div:after {
  pointer-events: none;
  content: '前往課程頁面';
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  bottom: -50px;
  left: 0;
  background: #000;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.content > div > div a:hover img {
  margin-top: -10px;
  margin-bottom: 10px;
}
.content > div > div a:hover div:after {
  bottom: 0;
}
/* RWD */
@media (max-width: 1000px) {
  .content > div > div {
    width: 49%;
  }
}
@media (max-width: 800px) {
  .content {
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  .content > div > div {
    width: 100%;
  }
}
