/* browser */
/*main*/
header {
  display: none;
}
header.path-1 {
  z-index: 99;
  display: block;
}
.banner {
  display: table;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}
.banner img {
  display: block;
  margin: 0 0 -10px;
  width: 100%;
}
.content {
  display: table;
  width: 100%;
  margin: 60px 0 0;
  padding-bottom: 0;
  border-bottom: 1px dashed #ccc;
}
.content a:link,
.content a:active,
.content a:visited,
.content a:hover {
  color: #098;
}
.content h1,
.content h2,
.content h3,
.content p,
.content ul,
.content .airpay,
.content .need-more,
.content .need-know {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.content h1 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
}
.content h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40px;
}
.content h3 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
}
.content p {
  color: #555;
  text-align: justify;
  line-height: 26px;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.content p img {
  max-width: 100%;
}
.content iframe {
  width: 100%;
  min-height: 240px;
  border: 10px solid #000;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 0 0;
  margin-bottom: 30px;
}
.content li {
  font-size: 17px;
  margin: 0 0 10px;
}
.content strong {
  font-weight: bold;
  color: #f60;
}
.content .btn-know {
  color: #098;
  cursor: pointer;
}
.content .need-more,
.content .need-know {
  padding: 20px 0;
  color: #555;
}
.content .need-more h4,
.content .need-know h4 {
  color: #000;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
}
.content .need-more h5,
.content .need-know h5 {
  color: #000;
  margin: 10px 0;
  font-size: 20px;
  line-height: 40px;
}
.content .need-more div,
.content .need-know div {
  margin: 10px 0;
  font-size: 17px;
  line-height: 24px;
}
.content .need-more ul,
.content .need-know ul {
  width: 100%;
  display: none;
  color: #000;
  background: #eee;
  padding: 20px;
  border-radius: 10px;
}
.content .need-more ul li,
.content .need-know ul li {
  padding-left: 18px;
  text-indent: -18px;
}
.content .need-more {
  padding-bottom: 50px;
}
.content .readmore {
  display: block;
  color: #098;
  margin: 5px 0 10px;
  cursor: pointer;
}
.content .airpay {
  margin-top: 10px;
  margin-bottom: 50px;
}
.content .airpay select {
  height: 50px;
  background: #f5f5f5;
  font-size: 16px;
  border: 1px solid #bbb;
  outline: none;
}
.content .airpay button {
  width: 100px;
  height: 50px;
  font-size: 16px;
  border-radius: 5px;
  background: #eee;
  border: 1px solid #bbb;
  outline: none;
}
.content .airpay button:active {
  background: #ddd;
}
/* disqus */
.disqus {
  display: block;
  margin: 20px auto 50px;
  width: 60%;
}
/* footer */
footer .logo a:first-child {
  display: none;
}
footer .logo a:last-child {
  display: inline;
}
/* RWD */
@media (max-width: 1000px) {
  .content h1,
  .content h2,
  .content h3,
  .content p,
  .content ul,
  .content div,
  .content .need-more,
  .content .need-know {
    width: 70%;
  }
  .disqus {
    width: 70%;
  }
}
@media (max-width: 800px) {
  header .menu {
    top: -355px;
  }
  header .menu a {
    color: #fff;
  }
  header .menu a.none {
    color: #666;
  }
  header .menu a.none:hover {
    color: #666;
  }
  .content {
    margin-top: 40px;
  }
  .content h1,
  .content h2,
  .content h3,
  .content p,
  .content ul,
  .content .airpay,
  .content .need-more,
  .content .need-know {
    width: 80%;
  }
  .disqus {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .content h1,
  .content h2,
  .content h3,
  .content p,
  .content ul,
  .content .airpay,
  .content .need-more,
  .content .need-know {
    width: 85%;
  }
  .content h1,
  .content h2,
  .content h3,
  .content h4 {
    font-size: 24px;
  }
  .content p {
    font-size: 16px;
  }
  .content p img {
    max-width: 100%;
  }
  .disqus {
    width: 85%;
  }
}
