/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* browser */
/* share */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'STHeiti', 'Microsoft JhengHei', 'Arial';
  background: #fff;
  overflow-x: hidden;
}
body.menuopen {
  margin-left: -240px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}
div {
  position: relative;
  box-sizing: border-box;
}
div:after,
div:before {
  position: absolute;
  content: '';
}
.content {
  min-height: 100vh;
  width: 80%;
}
.disqus {
  display: none;
}
.tutorials-content {
  display: none;
}
header {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
header a,
header div {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
header .mobile-menu:before,
header .mobile-menu:after {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
footer i {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
footer h4 {
  margin-bottom: 5px;
}
/* header */
header {
  position: fixed;
  display: block;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-position: 0 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
header .logo {
  position: absolute;
  z-index: 3;
  width: 241px;
  height: 37px;
  top: 20px;
  left: 30px;
  background-image: url(../../img/layout/layout-sprite.png);
  background-position: 0px -111px;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}
header .menu {
  position: absolute;
  z-index: 2;
  top: 30px;
  right: 50px;
}
header .menu a {
  margin: 0 15px;
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.7) 0 0 6px;
  opacity: 1;
  color: #fff;
}
header .menu a:hover {
  color: #8df;
  opacity: 1;
}
header .menu a.none {
  color: #666;
}
header .menu a.none:hover {
  color: #666;
}
header .menu a.actived {
  transition: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  color: #fb0;
}
header .menu a.actived:hover {
  color: #fb0;
}
header.scroll {
  height: 55px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
header.scroll .logo {
  top: 8px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}
header.scroll .menu {
  top: 17px;
}
header.scroll .menu a {
  font-size: 15px;
  text-shadow: none;
  color: #000;
}
header.scroll .menu a:hover {
  color: #0ac;
}
header.scroll .menu a.none {
  color: #aaa;
}
header.scroll .menu a.none:hover {
  color: #aaa;
}
header.scroll .menu a.actived {
  color: #f90;
}
header.scroll .menu a.actived:hover {
  color: #f90;
}
header.path-1 {
  display: none;
}
header .mobile-menu {
  display: none;
  position: absolute;
  z-index: 3;
  top: 25px;
  right: 26px;
  width: 30px;
  height: 5px;
  background: #fff;
  cursor: pointer;
  border-width: 10px 0;
  padding-bottom: 5px;
  background-clip: padding-box;
  border-style: solid;
  border-color: transparent;
}
header .mobile-menu:before,
header .mobile-menu:after {
  position: absolute;
  content: '';
  width: 30px;
  height: 5px;
  background: #fff;
}
header .mobile-menu:before {
  top: -10px;
}
header .mobile-menu:after {
  top: 10px;
}
/* footer */
footer {
  width: 100%;
  height: 150px;
  background: #222;
}
footer .logo {
  width: 100%;
  padding: 40px 5px 10px;
  text-align: center;
}
footer .logo a:last-child {
  display: none;
}
footer .logo a:first-child {
  display: inline;
}
footer .logo i {
  display: inline-block;
  width: 241px;
  height: 37px;
  background-image: url(../../img/layout/layout-sprite.png);
  background-position: 0px -148px;
  opacity: .5;
}
footer .logo i:hover {
  opacity: 1;
}
footer h4 {
  color: #555;
  text-align: center;
  font-size: 14px;
}
/* RWD */
@media (max-width: 1000px) {
  header .logo {
    left: 0;
  }
  header .menu {
    right: 10px;
  }
  .content {
    width: 90%;
  }
}
@media (max-width: 800px) {
  header {
    top: -5px;
    height: 55px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  }
  header .logo {
    top: 10px;
    left: -20px;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }
  header .mobile-menu {
    top: 18px;
    right: 18px;
    display: block;
    background: #000;
    background-clip: padding-box;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
  }
  header .mobile-menu:before,
  header .mobile-menu:after {
    background: #000;
  }
  header .mobile-menu.menuopen {
    padding: 0;
    right: 18px;
    top: 25px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
  }
  header .mobile-menu.menuopen:before,
  header .mobile-menu.menuopen:after {
    background: #fa0;
  }
  header .mobile-menu.menuopen:before {
    top: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
  header .mobile-menu.menuopen:after {
    top: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  header .menu {
    top: -350px;
    right: 0;
    padding: 50px 20px 20px;
    width: 100%;
    height: 350px;
    background: #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 0;
  }
  header .menu a {
    font-size: 20px;
    display: block;
    padding: 15px 10px 15px;
    border-bottom: 1px dashed #666;
  }
  header .menu.menuopen {
    top: 0;
  }
  header.scroll .mobile-menu.menuopen {
    top: 20px;
  }
  header.scroll .logo {
    top: 10px;
  }
  header.scroll .menu {
    top: -350px;
    right: 0;
    width: 100%;
    height: 350px;
    background: #000;
  }
  header.scroll .menu a {
    font-size: 20px;
    color: #fff;
    display: block;
  }
  header.scroll .menu a.none {
    color: #666;
  }
  header.scroll .menu a.none:hover {
    color: #666;
  }
  header.scroll .menu.menuopen {
    top: 0;
  }
  .content {
    width: 90%;
  }
}
@media (max-width: 600px) {
  footer .logo {
    width: 100%;
  }
  footer .logo i {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
  }
  footer .logo h4 {
    font-size: 12px;
  }
}
