/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* browser */
/* main */
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'STHeiti', 'Microsoft JhengHei', 'Arial';
  background: #fff;
  overflow-x: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
body.menuopen {
  margin-left: -240px;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}
a:link,
a:active,
a:visited,
a:hover {
  text-decoration: none;
}
/* header */
header {
  position: fixed;
  display: block;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  background-position: 0 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
header .logo {
  cursor: pointer;
}
header .logo i {
  position: absolute;
  top: 20px;
  left: 30px;
  background-image: url(../../img/layout/layout-sprite.png);
  background-position: 0px -111px;
  width: 241px;
  height: 37px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
}
header .menu {
  position: absolute;
  top: 30px;
  right: 50px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
header .menu a {
  margin: 0 15px;
  font-size: 16px;
  text-shadow: rgba(0, 0, 0, 0.7) 0 0 6px;
  opacity: 1;
  color: #fff;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
header .menu a:hover {
  color: #8df;
  opacity: 1;
}
header .menu a.none {
  opacity: .3;
}
header .menu a.none:hover {
  color: #fff;
}
header.scroll {
  height: 55px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
}
header.scroll .logo i {
  top: 8px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
}
header.scroll .menu {
  top: 17px;
}
header.scroll .menu a {
  font-size: 15px;
  text-shadow: none;
}
header.scroll .menu a:link,
header.scroll .menu a:active,
header.scroll .menu a:visited {
  color: #000;
}
header.scroll .menu a:hover {
  color: #0ac;
}
header.scroll .menu a.none {
  color: #000;
  opacity: .2;
}
header.scroll .menu a.none:hover {
  color: #000;
}
header.path-1 {
  display: none;
}
/* disqus */
.disqus {
  display: none;
}
/* footer */
footer {
  width: 100%;
  height: 150px;
  background: #222;
}
footer .content {
  width: 100%;
}
footer .logo {
  width: 100%;
  padding: 40px 5px 10px;
  text-align: center;
}
footer .logo a:last-child {
  display: none;
}
footer .logo a:first-child {
  display: inline;
}
footer .logo i {
  display: inline-block;
  width: 241px;
  height: 37px;
  background-image: url(../../img/layout/layout-sprite.png);
  background-position: 0px -148px;
  opacity: .5;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
footer .logo i:hover {
  opacity: 1;
}
footer h4 {
  color: #555;
  text-align: center;
  font-size: 14px;
}
/* RWD */
@media (max-width: 600px) {
  header .icon-logo-s {
    display: none;
  }
  header .icon-logo-s i {
    top: -15px;
    left: -30px;
    transform: scale(0.4);
  }
  header .menu {
    top: 35px;
    right: 15px;
  }
  footer .content {
    max-width: 300px;
  }
  footer .logo {
    width: 100%;
  }
}
