/* browser */
/* main */
.tutorials-content {
  display: block;
}
header {
  display: none;
}
header.path-1 {
  z-index: 99;
  display: block;
}
.tutorials-content {
  display: table;
  width: 100%;
  margin: 60px 0 0;
  padding-bottom: 0;
  border-bottom: 1px dashed #ccc;
}
.tutorials-content .banner {
  display: table;
  width: 100%;
  margin: 0 auto 50px;
  text-align: center;
}
.tutorials-content .banner img {
  display: block;
  margin: 0 0 -10px;
  width: 100%;
}
.tutorials-content h1,
.tutorials-content h2,
.tutorials-content h3,
.tutorials-content p,
.tutorials-content ul,
.tutorials-content table,
.tutorials-content pre,
.tutorials-content blockquote,
.tutorials-content .pre-next div,
.tutorials-content .buy-this {
  width: 60%;
  margin: 0 auto;
}
.tutorials-content h1 {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 40px;
}
.tutorials-content h1 div {
  position: relative;
  display: table;
  width: 100%;
  background: #ffe566;
  border-radius: 15px;
  padding: 18px 20px 18px 135px;
  font-size: 17px;
  line-height: 30px;
  box-shadow: #c90 0 5px 0;
  color: #000;
  margin-bottom: 50px;
}
.tutorials-content h1 div a {
  color: #f70;
}
.tutorials-content h1 div a:link {
  color: #f70;
  text-decoration: underline;
}
.tutorials-content h1 div a:hover {
  color: #d00;
}
.tutorials-content h1 div:before {
  position: absolute;
  z-index: 2;
  content: '';
  width: 100px;
  height: 100px;
  left: 20px;
  top: 20px;
  background-image: url(/img/tutorials/owl.png);
  background-size: cover;
}
@media (max-width: 540px) {
  .tutorials-content h1 div {
    padding: 18px 20px 18px;
  }
  .tutorials-content h1 div:before {
    display: none;
  }
}
.tutorials-content h2 {
  border-top: 1px dashed #aaa;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 30px;
  line-height: 40px;
}
.tutorials-content h2 a {
  font-size: 22px;
}
.tutorials-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  line-height: 26px;
  text-indent: -19px;
  padding-left: 17px;
}
.tutorials-content a:link,
.tutorials-content a:active,
.tutorials-content a:visited,
.tutorials-content a:hover {
  color: #098;
}
.tutorials-content a:hover {
  text-decoration: underline;
}
.tutorials-content strong {
  font-weight: bold;
  color: #f60;
}
.tutorials-content em {
  font-weight: bold;
  color: #000;
}
.tutorials-content p {
  color: #555;
  text-align: justify;
  line-height: 26px;
  font-size: 17px;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  margin-bottom: 20px;
}
.tutorials-content p img {
  max-width: 90%;
  margin-bottom: 10px;
}
.tutorials-content blockquote {
  padding: 20px 10px 20px 15px;
  margin: 10px auto 30px;
  border-left: 5px solid #ccc;
  background: #f5f5f5;
}
.tutorials-content blockquote p {
  width: 100%;
  margin-bottom: 10px;
}
.tutorials-content blockquote p:last-child {
  margin: 0;
}
.tutorials-content blockquote ul {
  margin-bottom: 0;
}
.tutorials-content .buy-this {
  font-size: 17px;
  background: #fed;
  padding: 20px 20px 10px;
  line-height: 24px;
  border-radius: 5px;
  transition: .3s;
}
.tutorials-content .buy-this:hover {
  background: #ffe8d7;
  border-radius: 25px;
}
.tutorials-content .buy-this i {
  margin-right: 5px;
}
.tutorials-content .buy-this span {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.tutorials-content .buy-this a {
  color: #840;
  text-decoration: underline;
}
.tutorials-content .buy-this a:hover {
  color: #d50;
}
.tutorials-content ul {
  margin-bottom: 30px;
}
.tutorials-content ul li {
  display: block;
  padding: 0 0 10px 30px;
  line-height: 26px;
  text-indent: -25px;
}
.tutorials-content ul li h3 {
  margin-top: 20px;
}
.tutorials-content ul li blockquote {
  border-left: 5px solid #eee;
  margin-left: 13px;
  margin-right: -13px;
  margin-top: 15px;
}
.tutorials-content ul li blockquote p {
  text-indent: 0;
  padding-left: 16px;
}
.tutorials-content ul li blockquote ul {
  margin-bottom: 20px;
}
.tutorials-content ul li blockquote ul li {
  padding-left: 25px;
}
.tutorials-content ul li p {
  width: 100%;
  display: block;
  padding: 0 24px;
  text-indent: -10px;
}
.tutorials-content ul li img {
  margin: 0;
}
.tutorials-content ul li img:last-child {
  padding-bottom: 20px;
}
.tutorials-content ul li ul {
  margin-bottom: 0;
  padding: 0 16px;
  width: 100%;
}
.tutorials-content ul li ul li {
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  padding: 0 0 10px 36px;
  text-indent: -28px;
  line-height: 26px;
  font-size: 17px;
  color: #555;
}
.tutorials-content iframe {
  width: 100%;
  min-height: 240px;
  border: 10px solid #000;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 0 0;
  margin-bottom: 30px;
}
.tutorials-content table {
  margin-bottom: 70px;
  border: 7px solid #000;
  font-size: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 8px 8px 0 0;
}
.tutorials-content table td,
.tutorials-content table th {
  border: 1px solid #000;
  padding: 30px 20px;
  vertical-align: middle;
  text-align: center;
}
.tutorials-content table tr th:first-child {
  background: #eee;
}
.tutorials-content table tr td {
  background: #46818f;
  color: #fff;
}
.tutorials-content table tr td:last-child {
  background: #cc4124;
  color: #fff;
}
.tutorials-content table tr:first-child th {
  background: #000;
  color: #fff;
  border-right: 1px solid #555;
}
.tutorials-content table tr:first-child th:last-child {
  border-right-color: #000;
}
.tutorials-content code {
  background: #ddd;
  padding: 2px 10px;
  border-radius: 3px;
}
.tutorials-content pre.prettyprint {
  background: #f5f5f5;
  border-color: #aaa;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
  overflow-y: auto;
  margin: 15px auto 40px;
  padding: 20px;
  font-weight: normal;
  font-family: "verdana";
  font-size: 14px;
}
.tutorials-content pre.prettyprint span {
  font-size: 14px;
}
.tutorials-content pre.prettyprint code {
  background: none;
  padding: 0;
  border-radius: 0;
}
.tutorials-content .pre-next {
  width: 100%;
  margin-top: 50px;
  border-top: 1px dashed #ccc;
  background: #f5f5f5;
  display: table;
  padding-bottom: 30px;
}
.tutorials-content .pre-next > div:first-child {
  font-weight: bold;
  font-size: 18px;
  padding: 40px 0 30px;
  margin-bottom: 10px;
  border-bottom: 3px solid #ddd;
  line-height: 30px;
}
.tutorials-content .pre-next .pre,
.tutorials-content .pre-next .next {
  padding: 20px 0;
  width: 48%;
  line-height: 28px;
  font-size: 18px;
  color: #444;
}
.tutorials-content .pre-next .pre:hover,
.tutorials-content .pre-next .next:hover {
  color: #000;
}
.tutorials-content .pre-next .pre {
  float: left;
}
.tutorials-content .pre-next .pre:hover i {
  -webkit-animation: prei .6s infinite;
  -moz-animation: prei .6s infinite;
  animation: prei .6s infinite;
}
.tutorials-content .pre-next .next {
  text-align: right;
  float: right;
}
.tutorials-content .pre-next .next:hover i {
  -webkit-animation: nexti .6s infinite;
  -moz-animation: nexti .6s infinite;
  animation: nexti .6s infinite;
}
.tutorials-content .arrow {
  display: none;
  position: fixed;
  top: 40%;
  z-index: 2;
  background-image: url(../../../img/layout/layout-sprite.png);
  width: 30px;
  height: 80px;
  opacity: .1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  cursor: pointer;
}
.tutorials-content .arrow.arrow-r {
  right: 30px;
  background-position: 0px -220px;
}
.tutorials-content .arrow.arrow-l {
  left: 30px;
  background-position: -30px -220px;
}
.tutorials-content .arrow:hover {
  opacity: .3;
}
.tutorials-content .others {
  position: fixed;
  padding: 0;
  width: 0px;
  height: 0px;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgba(50, 40, 30, 0.5) 2px 2px 25px;
  bottom: -300px;
  right: 15px;
  z-index: 99;
  opacity: 0;
}
.tutorials-content .others > i {
  position: absolute;
  display: block;
  font-size: 14px;
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 15px;
  top: 12px;
  right: 12px;
  color: #999;
  border: 3px solid #999;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  z-index: 2;
}
.tutorials-content .others > i:hover {
  color: #fff;
  border: 3px solid #fff;
}
.tutorials-content .others a {
  color: #f60;
}
.tutorials-content .others a i {
  font-size: 14px;
}
.tutorials-content .others .others-link-div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tutorials-content .others h5 {
  margin: 0;
  padding: 15px 20px;
  background: #333;
  color: #fff;
}
.tutorials-content .others .others-link {
  line-height: 25px;
  padding: 15px 20px;
}
.tutorials-content .others .others-link:last-child {
  margin-bottom: 0;
}
.tutorials-content .others.note-open {
  -webkit-animation: shownote 0.5s 0.8s ease-in-out;
  -moz-animation: shownote 0.5s 0.8s ease-in-out;
  animation: shownote 0.5s 0.8s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tutorials-content .others.note-open.note-close {
  -webkit-animation: closenote 0.6s ease-in-out;
  -moz-animation: closenote 0.6s ease-in-out;
  animation: closenote 0.6s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tutorials-content .note-chicken {
  position: fixed;
  bottom: -50px;
  right: 20px;
  background-image: url(../../../img/layout/layout-sprite.png);
  background-position: -60px -220px;
  width: 40px;
  height: 45px;
  z-index: 100;
}
.tutorials-content .note-chicken.note-open {
  -webkit-animation: shownote-chicken 1s ease-in-out;
  -moz-animation: shownote-chicken 1s ease-in-out;
  animation: shownote-chicken 1s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tutorials-content .note-chicken.note-open.note-close {
  bottom: 0px;
  -webkit-animation: closenote-chicken 0.5s 0.3s ease-in-out;
  -moz-animation: closenote-chicken 0.5s 0.3s ease-in-out;
  animation: closenote-chicken 0.5s 0.3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.popup {
  width: 100%;
  z-index: 9999;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  padding-bottom: 50px;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 800px) {
  .popup {
    overflow-y: scroll;
  }
}
.popup .whitebox {
  display: table;
  position: relative;
  width: 40%;
  max-width: 600px;
  margin: 120px auto 0;
  background: #fff;
  box-shadow: #000 0 0 20px;
  border-radius: 20px;
  padding: 30px 0;
  text-align: center;
}
@media (max-width: 800px) {
  .popup .whitebox {
    width: 70%;
  }
}
.popup .whitebox .popup-close {
  color: #000000;
  position: absolute;
  z-index: 999;
  top: 5%;
  right: 5%;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.popup .whitebox .popup-close:hover {
  color: #7F7F7F;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.popup .whitebox img {
  width: 125px;
  display: block;
  margin: auto;
}
.popup .whitebox p {
  text-align: center;
  line-height: 2;
  width: 85% !important;
  color: #000000;
  padding-top: 20px;
}
.popup .whitebox .go {
  width: 40%;
  min-width: 150px;
  padding: 20px 20px;
  display: inline-block;
  background-color: #FFAF00;
  margin: 5px 0px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  line-height: 1.5;
}
.popup .whitebox .go:hover {
  background-color: #FFBD00;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.popup .whitebox .space {
  padding: 10px;
}
@-webkit-keyframes closenote {
  0% {
    bottom: 15px;
    width: 500px;
    height: 180px;
    opacity: 1;
  }
  80% {
    bottom: 15px;
    width: 510px;
    height: 190px;
    opacity: 1;
  }
  99.9% {
    bottom: 15px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    bottom: -300px;
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes closenote-chicken {
  0% {
    bottom: 0px;
  }
  80% {
    bottom: 5px;
  }
  100% {
    bottom: -50px;
  }
}
@-webkit-keyframes shownote {
  0% {
    bottom: 15px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  60% {
    bottom: 15px;
    width: 510px;
    height: 185px;
    opacity: 1;
  }
  80% {
    bottom: 15px;
    width: 490px;
    height: 175px;
    opacity: 1;
  }
  100% {
    bottom: 15px;
    width: 500px;
    height: 180px;
    opacity: 1;
  }
}
@-webkit-keyframes shownote-chicken {
  0% {
    bottom: -50px;
  }
  30% {
    bottom: -25px;
  }
  70% {
    bottom: -25px;
  }
  80% {
    bottom: 5px;
  }
  90% {
    bottom: -5px;
  }
  100% {
    bottom: 0px;
  }
}
@-webkit-keyframes prei {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: -5px;
    margin-right: 5px;
  }
}
@-webkit-keyframes nexti {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: 5px;
    margin-right: -5px;
  }
}
@-moz-keyframes prei {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: -5px;
    margin-right: 5px;
  }
}
@-moz-keyframes nexti {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: 5px;
    margin-right: -5px;
  }
}
@keyframes prei {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: -5px;
    margin-right: 5px;
  }
}
@keyframes nexti {
  0%,
  100% {
    margin: 0;
  }
  50% {
    margin-left: 5px;
    margin-right: -5px;
  }
}
/* footer */
footer .logo a:first-child {
  display: none;
}
footer .logo a:last-child {
  display: inline;
}
/* disqus */
.disqus {
  display: block;
  margin: 20px auto 50px;
  width: 60%;
}
/* RWD */
@media (max-width: 1000px) {
  .tutorials-content h1,
  .tutorials-content h2,
  .tutorials-content p,
  .tutorials-content ul,
  .tutorials-content table,
  .tutorials-content pre,
  .tutorials-content .buy-this {
    width: 70%;
  }
  .disqus {
    width: 70%;
  }
}
@media (max-width: 800px) {
  header .menu {
    top: -355px;
  }
  header .menu a {
    color: #fff;
  }
  header .menu a.none {
    color: #666;
  }
  header .menu a.none:hover {
    color: #666;
  }
  .tutorials-content {
    margin-top: 40px;
  }
  .tutorials-content h1,
  .tutorials-content h2,
  .tutorials-content p,
  .tutorials-content ul,
  .tutorials-content table,
  .tutorials-content pre,
  .tutorials-content .pre-next div,
  .tutorials-content .buy-this {
    width: 80%;
  }
  .disqus {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .tutorials-content h1,
  .tutorials-content h2,
  .tutorials-content p,
  .tutorials-content ul,
  .tutorials-content table,
  .tutorials-content pre,
  .tutorials-content .pre-next div,
  .tutorials-content .buy-this {
    width: 85%;
  }
  .tutorials-content table {
    font-size: 15px;
  }
  .tutorials-content table td,
  .tutorials-content table th {
    padding: 20px;
  }
  .tutorials-content h2 {
    font-size: 24px;
  }
  .tutorials-content p {
    font-size: 16px;
  }
  .tutorials-content p img {
    max-width: 100%;
  }
  .tutorials-content ul h3 {
    font-size: 18px;
  }
  .tutorials-content ul li {
    display: block;
  }
  .tutorials-content ul li span {
    font-size: 16px;
    line-height: 22px;
  }
  .tutorials-content pre {
    font-size: 14px;
  }
  .tutorials-content pre span {
    font-size: 14px;
  }
  .tutorials-content .pre-next .pre,
  .tutorials-content .pre-next .next {
    clear: both;
    text-align: left;
    width: 100%;
    padding-bottom: 0;
  }
  .tutorials-content .pre-next .pre i,
  .tutorials-content .pre-next .next i {
    display: none;
  }
  .disqus {
    width: 85%;
  }
}
