/* browser */
/* main */
.content {
  margin: 120px auto 80px;
}
.content h1 {
  font-size: 30px;
  margin: 30px 0 20px;
  padding: 30px 0 0;
  border-top: #aaa dashed 1px;
  text-align: center;
}
.content h1:first-child {
  padding-top: 0;
  border: none;
}
.content > div {
  width: 100%;
}
.content > div > div {
  display: inline-block;
  width: 33%;
  padding: 15px 15px;
  vertical-align: top;
}
.content > div > div > i {
  top: 13px;
  right: 13px;
  position: absolute;
  z-index: 2;
  border-width: 25px;
  border-style: solid;
}
.content > div > div > i:after {
  position: absolute;
  content: "";
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  background-image: -webkit-linear-gradient(bottom left, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 49%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%);
  background-image: -moz-linear-gradient(bottom left, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 49%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%);
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 49%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 51%);
}
.content > div > div > i:before {
  position: absolute;
  color: #fff;
  font-size: 13px;
  top: -13px;
  left: -7px;
  width: 30px;
  font-weight: bold;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.content > div > div > i.important {
  border-color: #f00 #f00 transparent transparent;
}
.content > div > div > i.important:before {
  content: "重要";
}
.content > div > div > i.new {
  border-color: #f80 #f80 transparent transparent;
}
.content > div > div > i.new:before {
  content: "NEW";
}
.content > div > div a h2 {
  text-align: left;
  font-size: 19px;
  margin: 15px 10px 10px;
  color: #000;
  line-height: 24px;
}
.content > div > div a h3 {
  text-align: left;
  font-size: 13px;
  margin: 10px;
  color: #000;
  font-weight: normal;
  opacity: .8;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.content > div > div a h3 i {
  display: inline-block;
  padding: 4px 6px;
  background: #ddd;
  border-radius: 3px;
  border: 1px solid #fff;
  font-size: 12px;
}
.content > div > div a span {
  display: block;
  text-align: left;
  color: #555;
  font-size: 14px;
  line-height: 20px;
  opacity: .6;
  margin-left: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.content > div > div a div {
  overflow: hidden;
  width: 100%;
}
.content > div > div a div img {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  width: 100%;
}
.content > div > div a div:after {
  pointer-events: none;
  content: '立刻深入了解';
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  bottom: -50px;
  left: 0;
  background: #000;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}
.content > div > div a:hover img {
  margin-top: -10px;
  margin-bottom: 10px;
}
.content > div > div a:hover div:after {
  bottom: 0;
}
.content > div > div a:hover h3,
.content > div > div a:hover span {
  opacity: 1;
}
/* RWD */
@media (max-width: 1000px) {
  .content > div > div {
    width: 49%;
  }
}
@media (max-width: 800px) {
  .content {
    margin-top: 80px;
  }
}
@media (max-width: 500px) {
  .content > div > div {
    width: 100%;
  }
}
